<div class="login-container">
    <div class="login-card">
  
      <div class="login-header">
        <h1>Login</h1>
      </div>
  
      <form (ngSubmit)="onLogin()" class="login-form">
            <div class="form-group">
                <label for="username">Username</label>
                <input
                    type="text"
                    [(ngModel)]="credentials.username"
                    id="username"
                    name="username"
                    placeholder="Enter your username"
                >
            </div>
  
            <div class="form-group">
                <label for="password">Password</label>
                <input
                    type="password"
                    [(ngModel)]="credentials.password"
                    id="password"
                    name="password"
                    placeholder="Enter your password"
                >
            </div>
  
            <button type="submit" class="submit-btn">
             Login
            </button>

            <p class="register-text">
                No tienes cuenta? 
                <a [routerLink]="['/registro']">Registrate</a>
            </p>
        </form>
  
    </div>
</div>