<section class="news">
    <div class="news-header">
       Últimas Noticias
    </div>
  
    <div class="news-list">
      <div class="news-card" 
           *ngFor="let news of newsItems" 
           [ngClass]="news.category">
        <div class="news-icon">
          <i [class]="news.icon"></i>
        </div>
        
        <div class="news-content">
          <span class="news-tag">{{ getCategoryLabel(news.category) }}</span>
          <h3>{{ news.title }}</h3>
          <p class="news-excerpt">{{ news.excerpt }}</p>
          <div class="news-meta">
            📅 {{ news.date }} | ✍️ {{ news.author }}
          </div>
        </div>
